# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
GHOSTS/Library/metadata/ee/ee303a73f64723a43965e7a171d0b53f
GHOSTS/Library/metadata/ee/ee303a73f64723a43965e7a171d0b53f
GHOSTS/Library/metadata/b0/b0102418addcc444d9252bf4de5fe1b2
GHOSTS/Library/metadata/70/707ff02ba785e0742b25ae81c359dcae
GHOSTS/Library/metadata/37/370b95043de5c534eaf5064e3b511c6e
GHOSTS/Library/guidmapper
GHOSTS/Library/assetDatabase3
GHOSTS/GHOSTS.sln
GHOSTS/GHOSTS-csharp.sln
